{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Personal Website</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'projects' %}">Projects</a></li>
                
                <li><a href="{% url 'skills' %}">Skills</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Ryan Pereda</p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>